 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
 </head>
 <body>
   
 </body>
 </html> 
    <p class='flow-text' style='color:white;size:15px'>Have suggestions for improvement, or inquiries? We'd love to hear your feedback, so please shoot us a message</p>						
<div style='text-align:center'>
<div style='display:inline-block'>      
    <form action="" method="POST">
        <p style='color:white;' *ngIf='!message'>Email</p>
        <input *ngIf='!message' style='background-color:whitesmoke;border-radius:5px;'name="email" placeholder="Your email" type="email">
        <p style='color:white;'>Message</p>
        <textarea style='background-color:whitesmoke;border-radius:5px;' name="message"  placeholder="Your message"></textarea>
        <input type="submit" value="Send Message" class="btn waves-effect waves-light">
      </form>
</div>
</div>
