<!DOCTYPE html>
<html lang="en">
<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CryptoTrack</title>
</head>

<body>
  <div style="margin-bottom:40px;height:70px;background: #06beb6;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      ">
          <h5 class="flow-text" style="color:white;padding-left:20px;padding:20px;font-family:subzero">Welcome {{currentUser.firstname}}</h5>
          <div class="fixed-action-btn horizontal" style="position:float;top:35px;right:50px;">
            <a class="btn btn-floating btn-large pulse" style='background-color:#42ebf4' [routerLink]="['mydash']" (click)='onHomeClick()'><i class="material-icons" style='font-size:35px;padding-right:9px;margin-top:-5px'>equalizer</i></a>
            <ul>
              <li style="color:white;padding:7px"><a class="btn-floating  waves-effect waves-light"   style='background-color:#9ef7d2;margin:3px' [routerLink]="['convert']" (click)='otherClick()'><i class="material-icons" style='padding-right:9px;padding-top:2px;margin-top:-7px'>add_circle_outline</i></a>Add Trade</li>
              <li style="color:white;padding:7px"><a class="btn-floating  waves-effect waves-light"  style='background-color:#63a6ff;margin:3px' [routerLink]="['contact']"(click)='otherClick()'><i class="material-icons" style='padding-right:9px;margin-top:-6px'>forum</i></a>Message</li>
              <li style="color:white;padding:7px"><a class="btn-floating  waves-effect waves-light" style='background-color:#ff4762;margin:3px' href='javascript:void(0)' (click)='onSignOut()'><i class="material-icons" style='padding-right:9px;margin-top:-6px;'>close</i></a>Sign Out</li>
            </ul>
          </div>
  </div>
<div *ngIf=" !homeClicked && !otherClicked ; else routeit">
<app-mydash></app-mydash>
</div>

<div style="margin-bottom:0px;"> 
<ng-template #routeit>
  <router-outlet></router-outlet>
</ng-template>
</div>
</body>
</html>