<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
<marquee behavior="scroll" direction="left" style="color:#99ccff;font-size:20px">{{scrollSentence}}</marquee>
<div style='display:block;text-align:center'>
  <h1 class="flow-text" style="color:white;margin-top:70px;"> BROWSE, TRACK, CONVERT, AND MANAGE CRYPTO TRADES</h1>
  <h4 class="flow-text" style="color:#b7ffea; ;margin-top:50px">Join today and begin tracking profits on your crypto trading journey</h4>
  <div style='display:inline-block;margin-top:70px'>
    <a [routerLink]="['/reg']" style='background-color:#06beb6'class="btn btn-floating pulse"><i class="material-icons" style='font-size: 25px'>arrow_drop_down</i></a>
  </div>
</div>
<div style="padding-left:200px;padding-top:50px">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer" style='background: #06beb6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;'>
  <div style="display:block;text-align:center;margin-top:430px;padding:15px;padding-bottom:50px">
      <a style='color:white' href="https://www.linkedin.com/in/vladimirgrigoryan/"><i class="fa fa-linkedin-square fa-4" aria-hidden="true" style='font-size: 20px;padding:5px'></i></a>
      <a style='color:white;' href="https://github.com/vladgrig93"><i class="fa fa-github fa-4" aria-hidden="true" style='font-size: 20px;padding:5px'></i></a>
    <p class="flow-text" style='font-size:14px;color:white'>&copy; 2018 Transcrypter: All rights reserved</p>
  </div>
</footer>

</body>
</html>


			


