<!DOCTYPE html>
<html lang="en">
<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CryptoTrack</title>
</head>

<body>
    <nav style='margin-bottom:30px;'>
        <div class="nav-wrapper" style='background: #06beb6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
'>
          <div class="brand-logo">
            <h3 class="flow-text" style="color:white;display:inline-block;border:solid-white 2px;border-radius:5px;padding-left:20px;font-family:subzero">transCRYPTER</h3>
          </div>
          <ul class="right hide-on-med-and-down" style='padding-right:20px'>
            <li style='padding-right:15px;'><a [routerLink]="['/home']" (click)='onHomeClick()'>Home</a></li>
            <li style='padding-left:15px;padding-right:15px;'><a [routerLink]="['/convert']" (click)='otherClick()'>Convert</a></li>  
            <li style='padding-left:15px;padding-right:15px;'><a [routerLink]="['/reg']"(click)='otherClick()' >SignUp</a></li>
            <li style='padding-left:15px;padding-right:15px;'> <a [routerLink]="['/loginreg']"(click)='otherClick()'>SignIn</a></li>
            <li> <a [routerLink]="['/contact']"(click)='otherClick()'>ContactUs</a></li>
          </ul>
        </div>
    </nav>
   
  <div *ngIf=" !homeClicked && !otherClicked ; else routeit">
    <app-main></app-main>
  </div>

  <div style="margin-bottom:0px;"> 
    <ng-template #routeit>
      <router-outlet></router-outlet>
    </ng-template>
  </div>
</body>

</html>

